{% if messages %}
  <div id="messages">
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {% if 'success' in message.tags %}
            <i class="icon-ok-sign"></i>
          {% elif 'error' in message.tags %}
            <i class="icon-exclamation-sign"></i>
          {% elif 'warning' in message.tags %}
            <i class="icon-warning-sign"></i>
          {% elif 'info' in message.tags %}
            <i class="icon-info-sign"></i>
          {% endif %}
          {{ message|safe }}
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
